.item{
    width: 350px;
}
.item p{
    margin: 0px 6px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-prices-new{
    color: rgb(37, 72, 37);
    font-size: 18px;
    font-weight: 600;
}
.item-prices-old{
    color: rgb(24, 56, 24);
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}